body {
    background-image: url(https://img.freepik.com/free-vector/pastel-coloured-watercolour-texture-background_1048-18690.jpg);
    background-size: cover;
}

h1 {
    transition: transform 0.3s ease;
}

h1:hover {
    transform: skew(20deg);
}

.home-link {
    color: black;
    margin-right: 20px;
    font-weight: bold;
}